section.home-container {
  // color: white;
  padding: 25px 23px;
  // h1 {
  //   font-weight: 500;
  //   font-size: 2.5rem;
  //   line-height: 42px;
  // }
  p {
    line-height: 24px;
  }
}

// div.about-page-content {
//   padding-inline: 23px;
//   color: #161616;
//   margin-bottom: 55px;
//   h1 {
//     line-height: 30px;
//   }
//   p {
//     line-height: 22px;
//   }
// }

img {
  max-height: 250px;
  border-radius: 8px;
}

// .product-list-container {
//   // padding-inline: 23px;
//   // margin-top: 40px;
//   a {
//     &:hover {
//       text-decoration: none;
//     }
//   }
//   // width: 90%;
// }

.lana-info {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 20px 20px;
  justify-items: center;
  h4 {
    margin-top: 30px;
  }
}

.lana-type {
  // grid-area: 1/1 / -1/-1;
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 1;
  grid-column-end: 3;
  justify-self: center;
  align-self: center;
}
// main {
//   margin-bottom: 84px;
// }

// a {
//   text-decoration: none;
//   color: #161616;
//   padding: 15px;
//   &:hover {
//     font-weight: bold;
//     text-decoration: underline;
//   }
// }

// .lana-detail-container {
//   background-color: white;
//   // margin: 30px 26px;
//   margin: 26px auto;
//   padding: 24px;
//   max-width: 80vw;
//   .lana-detail {
//     border: red solid;
//   }
// }

// div.lana-detail {
//   display: flex;
//   align-items: center;
//   img {
//     max-height: 200px;
//     margin-right: 20px;
//   }
//   .lana-detail-info-text {
//     > h2 {
//       margin-top: 24px;
//       font-size: 26px;
//       margin-bottom: 5px;
//     }
//     > p {
//       font-size: 20px;
//       margin-block: 0;
//     }
//   }
// }
