@import "./colors.scss";
a.back-button {
  padding: 0 5px;
  display: block;
  //   font-size: 1.2rem;
}

section.product-detail-container {
  padding: 8px 0;
  //   border: solid red;
  // display: flex;
  // flex-wrap: wrap;
  // flex-direction: column;
  // justify-content: center;
}

a.back-button {
  color: $h3-color;
  font-weight: 400;
  padding-top: 5px;
  // border: black 1px solid;
}

h2.tipe span {
  color: $h3-color;
  font-size: 22px;
}

.lana-detail-container {
  margin-top: 16px;
  display: flex;
  flex-direction: column;
  // justify-content: center;
  // justify-items: center;
  align-items: flex-start;
}

img.details-main-img {
  // margin: 0 auto;
  align-self: center;
  width: 270px;
  height: 270px;

  // max-height: 350px;
  box-shadow: 1px 4px 4px 1px rgba(0, 0, 0, 0.25);
  margin-bottom: 20px;
}

section.nav-details {
  padding-left: 20px;
}

nav.nav-description {
  display: flex;
  flex-wrap: wrap;
  // line-height: 0cap;
  gap: 5px 30px;
  align-content: flex-start;
  justify-content: flex-start;
  margin-bottom: 15px;

  a {
    color: $primary-color;
    font-weight: 300;
    .active {
      // font-weight: 400;
      color: red;
    }
  }
}

img.select-photo {
  width: 100px;
  height: 100px;
}

// #root > main > section > section > div > nav > a:nth-child(4)
