@media (max-width: 600px) {
  body {
    width: 100%;
  }
  header {
    padding: 15px 15px;
    // a {
    // padding: 5px 10px;
    // }
  }
  // img {
  //   max-width: 150px;
  // }

  main {
    margin: 10px 10px;
  }
}
